<div class="wrapper">
  <div class=side-bar>
    <%= render "side_bar" %>

    <div class="side-bar-header">
      <div class = "name">吉田　舞</div>
      <div class = "create-cat">チャットを作成する</div>
    </div>
    <div class = "side-bar-main">
      <a class = "chat-room">チャットルーム1</a>
      <a class = "chat-room">チャットルーム2</a>
    </div>
  </div>
  <div class="chat">
    <%= render "main_chat" %>

    <div class = "chat-header">
    </div>
    <div class = "chat-main">

    </div>
    <div class = "chat-footer">
    </div>
  </div>
</div>
